.card__image {
  display: block;
  width: 282px;
  height: 282px;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  color: #FFF;
  /*
  В макете не заданы никакие затемнения для изображений,
  но я решил уменьшить яркость картинок, чтобы было лучше видно
  кнопку удаления светлых картинках. 
  */
  filter: brightness(.85);
}

.card__image:hover {
  /*
  может тут лучше будет тогда использовать zoom-in, вместо poiner?
  */
  cursor: zoom-in;
}
