.card__btn-delete {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 18px;
  height: 19px;
  padding: 0;
  border: none;
  background-image: url('../../../images/card-button-delete.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .35s ease-out;
}

.card__btn-delete:hover {
  opacity: .6;
  cursor: pointer;
}