.card__image {
  display: block;
  width: 282px;
  height: 282px;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  /*
  В макете не заданы никакие затемнения для изображений,
  но я решил уменьшить яркость картинок, чтобы было лучше видно
  кнопку удаления светлых картинках. 
  */
  filter: brightness(.85);
}
